<html>
    <head>
        <meta charset = "UTF-8">
        <title>{{ site.title }}</title>
        <!--Prend le titre indiqué dans l'arborescence,
        celui dans config.yml-->
        <link rel="stylesheet" href="/InsideCV/assets/css/style.css?v=">
        <link rel="shortcut icon" type="pictures/jpg" href="/InsideCV/pictures/cv.jpg" >
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="/InsideCV/assets/js/respond.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    </head>

    <body>
        <div id="header">
            <nav>
                <li class="fork"><a href="/InsideCV/">Home Page CV</a></li>
            </nav>
        </div>
        <div class="wrapper">
            <section>
                <div id="title">
                    <h1>Pierre-Eliott Baudonnat</h1>
                    <h2>Troisème version </h2>
                    <hr>
                </div>
                <!--{% for file in site.static_files %}
                  {% if file.image %}
                  <img src="{{file.path}}" alt="{file.name}">
                  {% endif %}
                {% endfor %} -->
                <div align = "center">
                  <img src="/InsideCV/pictures/photo.JPG" alt="photo" height="220px" width="250px"/>
                </div>
                <hr>
                <div align="center">
                  <img src="/InsideCV/pictures/tel.jpg" alt="tel" height="20px" width="25px"/> 06 75 30 00 61  
                
                  <img src="/InsideCV/pictures/mail.png" alt="tel" height="20px" width="25px"/>
                  <a href="mailto:peliott.baudonnat@gmail.com">peliott.baudonnat@gmail.com</a>

                  <img src="/InsideCV/pictures/linkedin.jpg" alt="tel" height="20px" width="25px"/>
                  <a href="https://www.linkedin.com/in/pierre-eliott-baudonnat-22869919a/">Pierre-Eliott Baudonnat</a>

                </div>
                <br><br>
                {% if page.url == "/" %}
                « Actuellement en dernière année de Licence Informatique, j’intègre l’école EPSI en 1ère année Ingénierie Informatique
                à la rentrée prochaine. Passionné par le domaine du Web, je suis à la recherche d’une alternance pour une durée de 2 ans. »<br><br>
                
                    {% for post in site.posts %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    <br>

                    {% endfor %}

                {% endif %}
                <br>
                    
                <!--    
                {% for post in site.posts %}
                    
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                <br>
                {% endfor %}
                
                <span class="credits left">Project maintained by <a href=""></a></span>
                <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
                -->
                {{ content }}
            </section>
          </div>
    </body>
</html>